@use "../../../../common/styles/palette";

.person-details-avatar {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto 15px;
  border: palette.$color-white solid 4px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 2px 3px 0 rgba(0 0 0 / 7.5%);
}
