@use "../../../common/styles/vars";
@use "../../../common/styles/palette";

.root {
  position: absolute;
  inset: 0;
  background-image: url('../../../common/images/green-poly.jpg');
  background-size: cover;
  overflow: hidden;

  // noinspection CssInvalidFunction type() is incorrectly marked as invalid
  @supports (background-image: image-set("foo.png" type("image/png"))) {
    background-image: image-set(
        '../../../common/images/green-poly.webp' type("image/webp"),
        '../../../common/images/green-poly.jpg' type("image/jpeg")
    );
  }
}

.link {
  fill: none;
  stroke: #333;
  stroke-width: 2px;
}

.person {
  stroke: #333;
  stroke-width: 3px;
  cursor: pointer;
}

.background {
  fill: none;
  stroke: #fff;
  stroke-dasharray: 5;
  stroke-width: 2px;
}

.avatar {
  stroke: #fff;
  stroke-width: 3px;
  cursor: pointer;
}

.plus {
  fill: none;
  stroke: #333;
  stroke-width: 2px;
}

.abduction {
  fill: #333;
  stroke: none;
}

.marriage {
  fill: none;
  stroke: #333;
  stroke-width: 2px;
}

.person-details {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  margin: 15px;
  padding: 15px;
  z-index: 1000;

  background: #f4f7f6;
  border: palette.$grey-light solid 1px;
  border-radius: vars.$default-border-radius;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 7.5%);
  overflow: auto;
}

.show-tree-details {
  display: flex;
  position: absolute;
  left: 0;
  height: 40px;
  margin: 15px;
  padding-left: 7px;
  padding-right: 12px;
  line-height: 30px;
  justify-content: center;
  align-items: center;
  border: palette.$grey-light solid 1px;
  border-radius: 20px;
  background: #f4f7f6;

  cursor: pointer;
  transition: background 0.3s ease-in-out;

  >i {
    height: 30px;
    color: #6F1E51;
    font-size: 30px;
  }

  &:hover {
    background: #eee;
  }
}

.tree-details {
  position: absolute;
  inset: 65px 15px 0;
  max-width: 300px;
  margin: 15px 0;
  border: palette.$grey-light solid 1px;
  border-radius: vars.$default-border-radius;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 7.5%);
  background: #f4f7f6;
  overflow: auto;
  z-index: 200;
}

.tree-image {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 160px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.tree-details-content {
  padding: 15px;
}

.person-details-top {
  text-align: center;
}

.person-details-avatar {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border: palette.$color-white solid 4px;
  border-radius: 50%;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 7.5%);
  background-position: center center;
  background-size: cover;
}

.parent-row {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-start;
  align-items: center;
}

.parent-avatar {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: palette.$color-white solid 4px;
  border-radius: 50%;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 7.5%);
  background-position: center center;
  background-size: cover;
}

.edit-button,
.close-button {
  position: absolute;
  top: 15px;
  padding: 5px 15px;
  line-height: 30px;
  border-radius: 5px;
  color: palette.$font-color;
  background: #f4f7f6;

  &.close-button {
    right: 15px;
  }

  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: #eee;

    .close {
      opacity: 1;
    }
  }
}

.tag {
  display: inline-block;
  padding: 3px 10px;
  margin-right: 7px;
  margin-bottom: 10px;
  border-radius: vars.$default-border-radius;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 7.5%);
  color: palette.$color-white;
  background: palette.$blue1;
  text-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}

.links-icon,
.add-child-icon,
.edit-node-icon {
  cursor: pointer;
}

.link-list {
  fill: #f4f7f6;
  stroke: #E6EAEA;
  stroke-width: 1;
}

.link-list-item {
  cursor: pointer;
  fill:#f4f7f6;

  &:hover {
    fill: #fff;
  }
}

.link-list-text {
  cursor: pointer;
  fill: palette.$font-color;
}

.link-details-toggle {
  display: inline;
  color: palette.$blue1;
  font-size: smaller;
  text-decoration: underline;
  cursor: pointer;
}

.link-details {
  font-size: smaller;
}
