@use "../../../common/styles/vars";
@use "../../../common/styles/palette";

.loading {
  text-align: center;
}

.nav-buttons {
  > * {
    margin-right: 10px;
  }

  text-align: center;
}

.person-tile {
  display: flex;
  position: relative;
  margin: 15px 0;
  border: 1px solid palette.$grey-lightest;
  border-bottom-width: 2px;
  border-radius: vars.$default-border-radius;
  align-items: center;
  color: palette.$font-color;
  text-decoration: none;
  transition: border vars.$transition-speed linear;

  &:hover {
    border-bottom-color: palette.$color1;

    .tile-arrow {
      color: palette.$color1;
    }
  }
}

.avatar {
  width: 70px;
  height: 70px;
  margin: 15px 10px;
  border-radius: 50%;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.person-menu {
  position: absolute;
  top: 5px;
  right: 5px;

  a, button {
    margin-left: 5px;
  }
}
