@use 'palette';
@use 'vars';

.alert {
  display: flex;
  min-height: 43px;
  margin-bottom: 20px;
  padding: 0;
  align-items: center;

  color: #fff;
  text-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  border: none rgb(255 255 255 / 20%);
  border-left: 30px solid;
  border-radius: vars.$default-border-radius;

  .alert-body, .Toastify__toast-body { /* stylelint-disable-line selector-class-pattern */
    margin: 0;
    padding: 8px 16px;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .alert-close, .Toastify__close-button { /* stylelint-disable-line selector-class-pattern */
    align-self: center;
    margin-right: 16px;
  }

  &.alert-danger, &.Toastify__toast--danger { /* stylelint-disable-line selector-class-pattern */
    background-color: #e74c3c;
  }

  &.alert-info, &.Toastify__toast--info { /* stylelint-disable-line selector-class-pattern */
    background-color: #3ea2ff;
  }

  &.alert-success, &.Toastify__toast--success { /* stylelint-disable-line selector-class-pattern */
    background-color: #64ce83;
  }

  &.alert-warning, &.Toastify__toast--warning { /* stylelint-disable-line selector-class-pattern */
    background-color: #ff7f48;
  }
}

.side-note {
  border-left: palette.$grey-light 4px solid;
  padding: 10px;
  margin: 1em 10px;
  color: palette.$grey-medium;
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.warning-note {
  border-left: palette.$orange1 4px solid;
  padding: 10px;
  margin: 1em 10px;
  color: palette.$orange2;
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}
