@use 'vars';
@use 'palette';

.btn {
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: vars.$button-border-radius;
  box-shadow: 0 4px 6px rgba(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  line-height: 1.4;
  white-space: nowrap;

  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  -webkit-transition: box-shadow 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: box-shadow 0.25s linear, color 0.25s linear, background-color 0.25s linear, all .22s;

  &:hover,
  &:focus{
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    outline: 0;
    transform: translateY(-2px);
    filter: brightness(130%);
  }

  &.btn-primary {
    color: palette.$color-white;
    background-color: palette.$color1;

    &:hover:enabled:not(.disabled) {
      background-color: palette.$color2;
    }
  }

  &.btn-danger {
    color: palette.$color-white;
    background-color: palette.$danger1;

    &:hover:enabled:not(.disabled) {
      background-color: palette.$danger2;
    }
  }

  &.btn-default {
    box-shadow:0 0 0 1px palette.$color1 inset;
    color: palette.$font-color;
    background-color: palette.$color-white;
    text-shadow: none;

    &:hover:enabled:not(.disabled) {
      box-shadow:0 0 0 1px palette.$color2 inset;
    }
  }

  &:disabled,
  &.disabled {
    color: palette.$grey-light !important;
    cursor: not-allowed !important;
    filter: grayscale(40%);
  }
}

.btn.btn-link {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 150%;
  border: none;
  background: none;
  box-shadow: none;

  color: palette.$blue1;
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;
  text-shadow: none;
  cursor: pointer;

  &:hover,
  &:focus{
    transform: none;
    box-shadow: none;
    filter: none;
  }
}

.btn-lg {
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: vars.$large-border-radius;
}

.btn-small {
  padding: 6px 10px;
  font-size: 13px;
}
