@use 'vars';
@use 'palette';
@use 'util';

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}

.form-control {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid palette.$grey-light;
  border-radius: vars.$input-border-radius;
  box-sizing : border-box;
  box-shadow: none;
  color: palette.$grey-dark;
  font: inherit;
  transition:
    border vars.$transition-speed linear,
    color vars.$transition-speed linear,
    background-color vars.$transition-speed linear;

  &:hover,
  &:focus{
    border-color: palette.$color1;
    outline: 0;
    box-shadow: none;
  }

  &.disabled,
  &:disabled,
  &:read-only:not(.draft-editor) {
    cursor: not-allowed;
    border-color: palette.$grey-lightest;
    color: palette.$grey-medium;
  }
}

.form-group {
  position: relative;
  margin-bottom: 20px;

  .helper-text {
    display: block;
    margin-top: 5px;
    color: palette.$grey-medium;
    font-style: italic;
  }

  &.has-error {
    .form-control {
      border: 1px solid palette.$danger1;
    }

    .helper-text {
      color: palette.$danger1;
    }
  }
}

.input-group {
  display: flex;
  width: 100%;
  margin-bottom: 15px;

  .form-group,
  .form-control { /* stylelint-disable-line no-descending-specificity */
    flex-basis: 100%;
  }

  .btn,
  .form-group {
    margin-right: 5px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.public-DraftEditor-content { /* stylelint-disable-line selector-class-pattern */
  min-height: 120px;
}

input[type="radio"] {
  @include util.sr-only;

  &+ label {
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: 700;

    span {
      display: inline-block;
      position: relative;
      height: 30px;
      width: 30px;
      margin: 0 10px 0 0;
      vertical-align: middle;
      border: 1px solid palette.$grey-lightest;
      border-radius: 20px;
      box-sizing: content-box;
      background-color: palette.$color-white;
      background-clip: content-box;

      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      transition: border 0.4s, box-shadow 0.4s;

      &::after {
        content: '';

        position: absolute;
        top: 5px;
        left: 5px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        box-shadow: 0 1px 3px rgb(0 0 0 / 40%);
        background: palette.$color-white;

        transition: background-color 0.4s, left 0.2s;
      }
    }
  }

  &:checked + label {
    span {
      background-color: palette.$green1;
      border-color: palette.$green1;
      box-shadow: palette.$green1 0 0 0 16px inset;
    }
  }
}

input[type="checkbox"] {
  @include util.sr-only;

  /* stylelint-disable-next-line no-descending-specificity */
  &+ label {
    margin-bottom: 20px;
    font-weight: 700;
    cursor: pointer;

    /* stylelint-disable-next-line no-descending-specificity */
    span {
      display: inline-block;
      position: relative;
      width: 50px;
      height: 30px;
      margin: 0 10px 0 0;
      vertical-align: middle;
      background-color: palette.$color-white;
      background-clip: content-box;
      border: 1px solid palette.$grey-lightest;
      border-radius: 20px;
      box-sizing: content-box;
      box-shadow: palette.$grey-lightest 0 0 0 0 inset;

      cursor: pointer;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: border 0.4s, box-shadow 0.4s;

      &::after {
        content: '';

        position: absolute;
        width: 30px;
        top: 0;
        left: 0;
        height: 30px;
        border-radius: 100%;
        box-shadow: 0 1px 3px rgb(0 0 0 / 40%);
        background: palette.$color-white;
        transition: background-color 0.4s, left 0.2s;
      }
    }
  }

  &:checked + label {
    span {
      background-color: palette.$green1;
      border-color: palette.$green1;
      box-shadow: palette.$green1 0 0 0 16px inset;

      &::after {
        left: 20px;
      }
    }
  }
}

input[type="checkbox"][disabled],
input[type="radio"][disabled] {
  &+ label {
    color: palette.$grey-light;
  }
}
