.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    border-collapse: collapse;
    border-spacing: 2px;
}

.table tr td,
.table tr th, {
    padding: .75rem;
    border-bottom: 2px solid #dee2e6;
    vertical-align: center;
}

.table tbody tr:nth-of-type(odd) {
    background-color: rgb(0 0 0 / 5%);
}