@use 'palette';

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0;
  line-height: 150%;
  color: palette.$grey-darkest;
  font-weight: 300;
}

h3, h4, h5, h6 {
  font-weight: 500;
}

a {
  color: palette.$blue1;
}

body {
  line-height: 170%;
  color: palette.$font-color;
  font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
}

b, strong {
  font-weight: bold;
}

hr {
  border-style: solid;
  border-bottom: none;
  color: palette.$grey-medium;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
}

.small {
  font-size: 12px;
}

.strikethrough {
  text-decoration: line-through;
}

dl {
  dt {
    font-weight: bolder;
  }
}

code {
  display: inline;
  width: auto;
  margin-top: 0;
  padding: 2px 4px;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(192 52 29);
  background-color: rgb(251 229 225);

  overflow-wrap: normal;
  font-family: Menlo, "DejaVu Sans Mono", "Liberation Mono", Consolas, "Ubuntu Mono", "Courier New", "andale mono",
               "lucida console", monospace;
  font-size: 90%;
  word-break: keep-all;
  white-space: pre-wrap;
}
