@use "../../../common/styles/vars";

.form-btn {
  margin-right: 10px;
}

.cover-image {
  display: flex;
  width: 300px;
  height: 160px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: vars.$default-border-radius;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 7.5%);
  color: #ccc;
}
