@import "../../../common/styles/vars";
@import "../../../common/styles/pallete";

.formBtn {
  margin-right: 10px;
}

.coverImage {
  background-position: center center;
  background-size: cover;
  height: 160px;
  width: 300px;
  margin: 0px auto;
  color: #CCC;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.075);
  border-radius: $default-border-radius;
}
