@use "../../common/styles/palette";

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 17px;

  li {
    padding: 0;
    border-bottom: 1px solid #E6EAEA;

    img {
      width: 17px;
      height: 17px;
      margin-right: 8px;
    }

    a {
      display: block;
      padding: 24px 36px;
      color: palette.$font-color;
      font-weight: bold;
      text-decoration: none;
      transition: background 0.2s ease-in-out;

      &:hover {
        background: #fff;
      }
    }
  }

  &.last-nav {
    margin-bottom: 60px;
  }
}

.nav-trees-header {
  padding: 24px 36px;
  border-bottom: 1px solid #E6EAEA;
  color: #12CBC4;
  font-size: 17px;
  font-weight: 400;
}

.menu-login-message {
  padding: 20px;
  margin: 0;
  text-align: center;
}
