@use "../../../common/styles/vars";
@use "../../../common/styles/palette";

.toolbar, .toolbar-mobile {
  display: flex;
  position: relative;
  min-height: 50px;
  margin: 15px;
  border: palette.$grey-light solid 1px;
  border-radius: vars.$default-border-radius;
  align-items: center;
  justify-content: flex-end;
  background: palette.$grey-lightest;
  box-shadow: 0 2px 3px 0 rgba(0 0 0 / 7.5%);

  &.toolbar-mobile {
    cursor: pointer;

    &:hover {
      background: #f4f7f6;
    }
  }

  input[type="checkbox"] + label {
    min-width: 100px;
    height: 50px;
    padding: 0 15px;
    margin: 0;
    border-left: #ccc solid 1px;
    line-height: 50px;
    cursor: pointer;
    font-weight: 300;

    &:hover {
      background: #f4f7f6;
    }
  }
}

.hamburger {
  display: inline-block;
  position: relative;
  top: 2px;
  padding-right: 15px;
  transition: 0.1s ease-in-out;

  div {
    width: 14px;
    height: 1px;
    margin: 3px 0;
    background-color: palette.$font-color;
    transition: 0.1s ease-in-out;
  }
}

.hamburger-active {
  top: 4px;

  div {
    margin: 6px 0;
  }
}

.toolbar-dropdown {
  position: relative;
}

.toolbar-item, .toolbar-help {
  min-width: 100px;
  height: 50px;
  padding: 0 15px;
  margin: 0;
  border-left: #ccc solid 1px;
  line-height: 50px;
  cursor: pointer;
  font-weight: 300;

  &:hover {
    background: #f4f7f6;
  }
}

.down-arrow {
  display: inline-block;
  padding: 3px;
  margin: 3px 3px 3px 10px;
  border: solid palette.$font-color;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  transition: 0.2s ease-in-out;
}

.down-arrow-active {
  margin: 5px 3px 0 10px;
  transform: rotate(225deg);
}

.menu, .menu-mobile {
  position: absolute;
  top: 60px;
  right: 0;
  width: 230px;
  border: 1px solid #E6EAEA;
  border-radius: vars.$default-border-radius;
  color: #333;
  background: #f4f7f6;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 7.5%);
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  transition: 0.2s ease-in-out;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: block;
      cursor: pointer;
      text-decoration: none;

      a, div {
        display: block;
        padding: 15px;
        color: palette.$font-color;
        text-decoration: none;
        transition: background 0.2s ease-in-out;

        &:hover {
          background: #fff;
        }
      }
    }
  }
}

.menu-active, .menu-mobile-active {
  visibility: visible;
  opacity: 1;
}

.menu-mobile {
  position: relative;
  top: 0;
  width: initial;
  margin: 15px;
}

.mobile-menu-heading {
  padding: 3px 15px;
  color: #12CBC4;
  font-size: 12px;
  font-weight: 500;
}

.toolbar-title {
  flex: 1;
  padding: 0 15px;
  color: #616161;
  font-weight: 500;
}
