.root {
  position: absolute;
  inset: 0;
  width: 100%;
  overflow: hidden;
}

.container {
  position: absolute;
  inset: 0;
  width: 100%;
  transition: left 0.3s ease-in-out;
}

.container-active-menu {
  left: 320px;
}

.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  color: #fff;
  background-color: #6F1E51;
}

.header-logo {
  padding: 5px;
}

.brand {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 1px 2px rgb(0 0 0 / 20%);

  h1 {
    padding: 0 10px;
    margin: 0;
    line-height: 50px;
    font-size: 18px;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.menu-button {
  padding: 0 10px;
  margin: 10px;
  border-radius: 5px;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  cursor: pointer;

  &:hover {
    background-color: #833471;
  }
}

.hamburger {
  display: inline-block;
  position: relative;
  top: 2px;
  padding-right: 10px;
  transition: top 0.3s ease-in-out;

  div {
    height: 1px;
    width: 10px;
    margin: 3px 0;
    background-color: #fff;
    transition: margin 0.3s ease-in-out;
  }
}

.hamburger-active {
  top: 4px;

  div {
    margin: 4px 0;
  }
}

.close-row {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #E6EAEA;
  justify-content: flex-end;
}

.close {
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  margin: 10px;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;

  &::before, &::after {
    content: ' ';

    position: absolute;
    left: 10px;
    width: 1px;
    height: 20px;
    background-color: #333;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.close-button {
  padding: 5px 20px;
  line-height: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: #eee;

    .close {
      opacity: 1;
    }
  }
}

.nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -320px;
  width: 320px;
  background: #f4f7f6;
  overflow: auto;
}

.nav-mask {
  position: absolute;
  inset: 0;
  width: 100%;
  background: black;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-mask-active-menu {
  opacity: 0.7;
  visibility: visible;
}

.body {
  position: absolute;
  inset: 50px 0 0;
  overflow: auto;
}
