.root {
  position: relative;
  height: 296px;
  overflow: hidden;
  margin: 0px auto;
  width: 200px;
  margin-bottom: 15px;
}

.display {
  width: 170px;
  position: absolute;
  left: 15px;
  top: 60px;
}
