@use "../../common/styles/palette";

.alert {
  display: block;
  color: #fff;
  background-color: #ff7f48;
  padding: 15px;
  margin: 0 -40px;
  margin-top: -20px;
}


.home-banner-image {
  height: 250px;

  background: url("./images/compressed/tree.jpg") center center no-repeat;

  // noinspection CssInvalidFunction type() is incorrectly marked as invalid
  @supports (background-image: image-set("foo.png" type("image/png"))) {
    background-image: image-set(
        "./images/webp/tree.webp" type("image/webp"),
        "./images/compressed/tree.jpg" type("image/jpeg")
    );
  }

  background-size: cover;
}

.home-banner-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 250px;
}

.intro-panel {
  margin: -90px auto 20px;
  width: 80%;
  max-width: 600px;
  padding: 20px 40px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  overflow: hidden;
}

.feature-image {
  display: block;
  margin: 0 auto;
}

.guides-image {
  display: block;
  height: 200px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  border: 7px solid #fff;
  background: url("./images/compressed/read.jpg") 50%;
  background-size: cover;

  // noinspection CssInvalidFunction type() is incorrectly marked as invalid
  @supports (background-image: image-set("foo.png" type("image/png"))) {
    background-image: image-set(
        "./images/webp/read.webp" type("image/webp"),
        "./images/compressed/read.jpg" type("image/jpeg")
    );
  }
}
