.panel {
  margin: 30px auto;
  padding: 10px 15px;
  background: #f5f5f5;
  border-radius: 4px;
  width: 250px;

  table {
    table-layout: fixed ;
    width: 100% ;
  }
  td, th {
    width: 50% ;
  }
  th {
    text-align:left;
  }
}
