@import "../../common/styles/vars";
@import "../../common/styles/pallete";

.headerMask {
  position: absolute;
  background-image: url('../../common/images/green-poly.jpg');
  background-size: cover;
  height: 220px;
  left: 0px;
  right: 0px;
  top: 0px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.galleryHead {
  height: 220px;
}

.galleryList {
  margin: 40px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.galleryTitle {
  display: inline-block;
  color: $color-white;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.treeTileNoDescription {
  color: #DADADA;
  margin: 16px 0px;
}

.paginationContainer {
  text-align: center;
}

.pagination {
  border-radius: $default-border-radius;
  display: inline-block;
  background: $color-white;
  padding: 0px 2px;
  border: 1px solid $grey-light;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);

  .paginationBtn {
    white-space: nowrap;
    cursor: pointer;
    border: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    line-height: 1.4;
    padding: 7px 13px;
    margin: 7px 5px;
    border-radius: $button-border-radius;
    transition: background .22s;
    color: $font-color;
    text-shadow: none;
    font-size: 14px;
    background: $color-white;

    &:hover {
      background: $color1;
      color: $color-white;
    }

    &.active:not(:hover) {
      color: $color1;
    }

    &.disabled {
      cursor: not-allowed;
      &:hover {
        background: $grey-medium;
        color: $color-white;
      }
    }
  }
}

.paginationCount {
  font-size: 10px;
}

.loading {
  text-align: center;
}

.treeTile {
  border: 1px solid $grey-lightest;
  border-bottom-width: 2px;
  border-radius: $default-border-radius;
  cursor: pointer;
  transition: border $transition-speed linear;
  margin: 15px 0px;
  color: $font-color;
  text-decoration: none;
  display: block;
  width: 300px;
  height: 350px;

  &:hover {
    border-bottom-color: $color1;

    .tileArrow {
      color: $color1;
    }
  }

  .treeTileImage {
    background-color: #F8F8F8;
    width: 100%;
    height: 160px;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }

  .tileContent {
    height: 190px;
    overflow: auto;

    .treeTileInfo {
      padding: 15px;

      .treeTileTitle {
        font-size: 18px;
        font-weight: 500;
      }
    }

    .tileArrow {
      font-size: 18px;
      padding: 10px;
    }
  }
}
